
<div class="row p-1 mt-2 justify-content-center">
    <div class="text-center">
        <h4>Aquí podrás publicar tu receta para compartirla con la comunidad Foodie y también consultar tus recetas ya publicadas</h4>
    </div>
    
</div>

<!-- INTRODUZCO EL COMPONENTE HIJO CON EL @OUTPUT -->
<div class="row p-1 mt-4 justify-content-center" *ngIf="user">
    <div class="text-center">
        <h5>Bienvenid@ {{user.username}},<br>¿Qué quieres hacer?</h5>
    </div>
      <div *ngFor="let opcion of opciones" class="text-center mt-3 col-6">
          <app-aviso opcion="{{opcion.title}}" (showOption)="addOption($event)"></app-aviso>
      </div>
      <div class="text-center mt-3" >
            <h6>{{seleccion}}</h6>
      </div>
      
</div>

<div class="row p-1 my-3 justify-content-center" *ngIf="op1">
    <div class="text-center mb-2">
        <p>¿Quieres publicar una nueva receta? Haz click en el botón que aparece aquí abajo</p>
        <button class="btn colorPurpleP" routerLink="/publicar/formulario">PUBLICAR RECETA</button> <!-- aquí se carga el formulario para publicar receta -->
      </div>

</div>
 

<div class="row p-1 my-3 justify-content-center" *ngIf="op2">
    <div class="text-center mb-2">
        <p>¿Quieres ver tus recetas ya publicadas? Haz click en el botón que aparece aquí abajo</p>
        <button class="btn colorPurpleP" routerLink="/publicar/misRecetas">VER MIS RECETAS</button> <!-- aquí se carga la datatable -->
      </div>

</div>

<app-scroll-to-top ubicacion="Publicar"></app-scroll-to-top>

<app-font-size></app-font-size>


